# Dependances
node_modules/
app/node_modules/

# Build & Output
dist/
dist_root/
app/dist/

# IDE & OS
.vscode/
.idea/
.DS_Store
*.log

# Local Cache & Vite
.vite/
app/.vite/

# Environnement (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
